// Background colors

.background--barely {
  background-color: $color-barely;
}

.background--clay-light {
  background-color: $color-clay-light;
}

.background--clay-dark {
  background-color: $color-clay-dark;
}

.background--grey-green {
  background-color: $color-grey-green;
}
